# Godot 4 specific ignores
/.godot/
/import/
/export/
/bin/

# GDExtension build files
build/
*.oso
*.os
*.dylib
*.dll
*.so
*.cache/

# Editor temp files
*.tmp
*.translation
*.import
*.swp

#vscode
*.vscode/

